Content Based Recommender System recommends movies similar to the movie user likes and analyses the sentiments on the reviews given by the user for that movie.

The details of the movies(title, genre, runtime, rating, poster, etc) are fetched using an API by TMDB, https://www.themoviedb.org/documentation/api, and using the IMDB id of the movie in the API. We use web scraping to get the reviews given by the user in the IMDB site using beautifulsoup4 and performed sentiment analysis on those reviews.

The following are the different datasets used in this project.

#### **Sources of the datasets**
1. [IMDB 5000 Movie Dataset](https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset)
2. [The Movies Dataset](https://www.kaggle.com/rounakbanik/the-movies-dataset)

In [9]:
pip install pandas numpy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\asus\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\asus\appdata\roaming\python\python313\site-packages (2.2.3)
Collecting matplotlib
  Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\roaming\python\python313\site-packages (from matplotlib) (11.1.0)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading matplotlib-3.10.0-cp313-cp313-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ------- -------------------------------- 1.6/8.0 MB 8.3 MB/s eta 0:00:01
   ------------- -------------------------- 2.6/8.0 MB 6.9 MB/s eta 0:00:01
   ---------------- ----------------------- 3.4/8.0 MB 5.5 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.0 MB 5.1 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.0 MB 4.7 MB/s eta 0:00:01
   ---------------------------- ----------- 5.8/8.0 MB 4.6 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.0 MB 4.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.0 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 4.4 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 3.2 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.0 pyparsing-3.2.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv(r"D:\Netflx_recommendation_system\content\movie_metadata.csv")
data .head()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: malformed \N character escape (4069804111.py, line 1)

In [ ]:
data.shape

(5043, 28)

In [ ]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [13]:
# we have movies only upto 2016
import matplotlib.pyplot as plt
data.title_year.value_counts(dropna=False).sort_index().plot(kind='barh',figsize=(15,16))
plt.show()

NameError: name 'data' is not defined

In [ ]:
# recommendation will be based on these features only
data = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [ ]:

data.head()

       director_name  ...                                        movie_title
0      James Cameron  ...                                            Avatar
1     Gore Verbinski  ...          Pirates of the Caribbean: At World's End
2         Sam Mendes  ...                                           Spectre
3  Christopher Nolan  ...                             The Dark Knight Rises
4        Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...

[5 rows x 6 columns]

In [ ]:
data.isna().sum()

director_name    104
actor_1_name       7
actor_2_name      13
actor_3_name      23
genres             0
movie_title        0
dtype: int64

In [ ]:
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [ ]:
data.head()

       director_name  ...                                        movie_title
0      James Cameron  ...                                            Avatar
1     Gore Verbinski  ...          Pirates of the Caribbean: At World's End
2         Sam Mendes  ...                                           Spectre
3  Christopher Nolan  ...                             The Dark Knight Rises
4        Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...

[5 rows x 6 columns]

In [ ]:
data.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
dtype: int64

In [ ]:
data['genres'] = data['genres'].str.replace('|', ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [ ]:

data

          director_name  ...                                        movie_title
0         James Cameron  ...                                            Avatar
1        Gore Verbinski  ...          Pirates of the Caribbean: At World's End
2            Sam Mendes  ...                                           Spectre
3     Christopher Nolan  ...                             The Dark Knight Rises
4           Doug Walker  ...  Star Wars: Episode VII - The Force Awakens    ...
...                 ...  ...                                                ...
5038        Scott Smith  ...                           Signed Sealed Delivered
5039            unknown  ...                         The Following
5040   Benjamin Roberds  ...                              A Plague So Pleasant
5041        Daniel Hsia  ...                                  Shanghai Calling
5042           Jon Gunn  ...                                 My Date with Drew

[5043 rows x 6 columns]

In [ ]:
data['movie_title'] = data['movie_title'].str.lower()

In [ ]:

data

          director_name  ...                                        movie_title
0         James Cameron  ...                                            avatar
1        Gore Verbinski  ...          pirates of the caribbean: at world's end
2            Sam Mendes  ...                                           spectre
3     Christopher Nolan  ...                             the dark knight rises
4           Doug Walker  ...  star wars: episode vii - the force awakens    ...
...                 ...  ...                                                ...
5038        Scott Smith  ...                           signed sealed delivered
5039            unknown  ...                         the following
5040   Benjamin Roberds  ...                              a plague so pleasant
5041        Daniel Hsia  ...                                  shanghai calling
5042           Jon Gunn  ...                                 my date with drew

[5043 rows x 6 columns]

In [ ]:
# null terminating char at the end
data['movie_title'][21]

'the amazing spider-man\xa0'

In [ ]:
# removing the null terminating char at the end
data['movie_title'] = data['movie_title'].apply(lambda x : x[:-1])

In [ ]:
#let's check again
data['movie_title'][21]

'the amazing spider-man'

In [ ]:
#let's save the processed dataset
data.to_csv('data1.csv',index=False)